$myOrange: rgba(255, 143, 82, 1);
$myGrey: rgba(217, 217, 217, 1);
@mixin myFlex($jc:space-between,$ai:center,$fd:row) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}